header img{
    height: 80px;
    margin-left: 40px;
    width: 100px; /* Adjust the width and height as needed */
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}
.menu {
    padding: 10px 0;
    text-align: center;
}

header{
    background-color: #ababd2;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333333;
}

header * {
    display: inline;
}

.box{
    width: 1000px;
}

header li{
    margin: 20px;

}

.menu{
    width: 1000px;
}

.menu ul li:hover{
width: 400px;
text-decoration: underline;
}

header * {
    display: inline;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
    color: black;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu ul li a:hover{
    color : navy;
}

aside {
  width: 20%;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 20px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.hero{
        padding: 120px 20px 20px; 
}

.hero h1 {
    font-size: 36px; 
    color: black; 
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.All {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }

.text{
    background: white;
}

.All > h1, .text {
    margin: 10px;
    padding: 5px;
  }
/* Style the footer element */
footer {
    background-color: #ababd2; /* Background color for the footer */
    color: white; /* Text color for the footer */
    padding: 20px 0; /* Add padding to the top and bottom of the footer */
    text-align: center; /* Center-align the content */
}



/* Style the &copy; symbol */
.center::after {
    content: "\00a9"; /* Use the © symbol */
    margin-left: 5px; /* Add some spacing between the text and the symbol */
}

.mark{
    background-color: #b4c6f0;
}

